<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}} - Company Ltd</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
    <h2 class="logo">StreetWear</h2>
    <nav class="navigation">
        <a href="#">Men</a>
        <a href="#">Women</a>
        <a href="#">Kids</a>
        <a href="#">Sale</a>
    </nav>
    <button class="btnLogin-popup" onclick="btnPopup()">Login</button>
    </header>


    {{{body}}}

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Dowload our app</h3>
                    <p>Download App for Android and iOS mobile phone.</p>
                    <div class="app-logo">
                        <a href="#"><img src="play-store.png"></a>
                        <a href="#"><img src="app-store.png"></a>
                    </div>
                </div>
                <div class="footer-col-2">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="#">Coupons</a></li>
                        <li><a href="#">Blog Post</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Join us</a></li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Contact</h3>
                    <ul>
                        <li><ion-icon name="location-outline"></ion-icon> Location: Visamaki, Hameenlinna 13000</li>
                        <li><ion-icon name="call-outline"></ion-icon> Phone number: 040 4342 5534</li>
                        <li><ion-icon name="mail-outline"></ion-icon> Email address: streetwear@gmail.com</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2023 - Shopping website "StreetWear"</p>
        </div>
    </div>
</body>

</html>
