<form action="/clothes" method="post">
<fieldset> 
    <legend>Add a New Clothe</legend>
        <div>
            <label for="cloName">Clothe Name: </label>
            <input type="text" id="cloName" name="cloName">
        </div>
        <div>
        <label for="cloImgLink">Clothe Image: </label>
        <input type="text" id="cloImgLink" name="cloImgLink">
        </div>
        <div>
            <label for="cloType">Type of Clothe: </label>
            <input type="text" id="cloType" name="cloType">
        </div>
        <div>
            <label for="cloStyle">Style of Clothe: </label>
            <input type="text" id="cloStyle" name="cloStyle">
        </div>
        <div>
            <label for="cloSizes">Select Size:</label>
                <select id="cloSizes" name="cloSizes">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
        </div>
        <div>
            <label for="cloBrand">Brand of Clothe: </label>
            <input type="text" id="cloBrand" name="cloBrand">
        </div>
        <div>
            <label for="cloMat">Material: </label>
            <input type="text" id="cloMat" name="cloMat">
        </div>
        <div>
            <label for="cloColorPrim">Primary Color: </label>
            <input type="text" id="cloColorPrim" name="cloColorPrim">
        </div>
        <div>
            <label for="priceEuro">Price</label>
            <input type="number" id="priceEuro" name="priceEuro">
        </div>
        <div>
            <label for="onDiscount">Discount:</label>
                <select id="onDiscount" name="onDiscount">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
        </div>
        <button>Add</button>
          
    </fieldset>  
</form>

