<h1>{{pagetitle}}</h1>
<p>obsolete</p>
<!-- obsolete 
<p>Alter and modify store items here</p>
<h2>Add a clothing item to the store</h2>
<form>
<label for="CloName">Name of the clothing item : </label>
<input type="text"  name="CloName" id="CloName" tabindex="0" >  
<label for="CloImgLink">Link to the clothing item : </label>
<input type="url" name="CloImgLink" id="CloImgLink" tabindex="0">
<label for="CloType">Type of clothing item : </label>
<input type="text" name="CloType" id="CloType" tabindex="0">
<label for="CloStyle">Style of a clothing item</label>
<input type="text" name="CloStyle" id="CloStyle" tabindex="0"> -->
<!-- On the js side do something like this
    function sendProduce() {
  let checked = document.querySelectorAll('input[type=checkbox]:checked'),
      grocItems = Array.from(checked).map(
        checkbox => checkbox.value.trim()
      );
  console.log(grocItems); 
-->
<!--
<input type="checkbox" id="SizeS" name="SizeS" tabindex="0">
<label for="SizeS">Avalible in size S</label>
<input type="checkbox" id="SizeM" name="SizeM" tabindex="0">
<label for="SizeM">Avalible in size M</label>
<input type="checkbox" id="SizeL" name="SizeL" tabindex="0">
<label for="SizeL">Avalible in size L</label>
<input type="checkbox" id="SizeXL" name="SizeXL" tabindex="0">
<label for="SizeXL">Avalible in size XL</label>


</form> -->