/*body {
    text-decoration-color: aliceblue;
    background-color: whitesmoke;
}*/

.indexcards {
    align-items: baseline;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.indexcard {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 10px #eff4fd;
    border-style: solid;
    width: 300px;
    height: 850px;
    margin: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-evenly;
    align-items: center;
}


h3 {
    font-size: x-large;
}

.iteminfo {
    display: block;
    width: 250px;
    border: 5px #eff4fd;
    border-style: solid;
    align-self: center;
}

.indexpricing {
    font-size: large;
}
.Clothimg {
  display: block;
  width: 250px;
  border: 5px lavender;
  border-style: solid;
  align-self: center;
}

/* End of Anton's CSS    */
/* Start of  Harsh's CSS */
/*form {
    width: 400px;
    
}*/
fieldset{
    padding: 30px;
    border: 3px solid #4238ca;
}
/*div {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}
*/
.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    background-color: #0008FF;
    color: white;
    border-radius: 8px;
}

/*img {
    width: 50px;
    height: 50px;
    border: 3px solid #0D6EFD;
  }
*/
.card {
    box-shadow: 0px 0px 8px #ccc;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
  }
  
  .card p {
    text-align: left;
    font-weight: bold;
    line-height: 1.5;
  }
  
  .container {
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
  }

span {
	color: #0D6EFD;
}

body {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background: #eff4fd;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  text-transform: uppercase;
}
/* End of Harsh's CSS */
/* Start of Orges's CSS */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    margin-left: 40px;
    transition: .5s;
}

.btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);

}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    color: #8a8a8a;
    height: 250px;
    font-size: 14px;
    padding: 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer li {
    font-size: 16px;
}

.footer a {
    color: #8a8a8a;
    text-decoration: none;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 450px;
}

.footer-col-1 {
    flex-basis: 25%;
}

.footer-col-2, .footer-col-3, .footer-col-4 {
    flex-basis: 25%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 150px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}
/*End of Orges CSS*/